<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="img/blockchainIDsystem-logo01.png" class="img-responsive" />
                <div class="card-body">
                    <h4 class="card-title">
                        blockchainIDsystem
                    </h4>
                    <input ng-model="user.email" class="form-control" placeholder="Email" type="text">
                    <input ng-model="user.password" class="form-control" placeholder="Password" type="password">


                    <div ng-click="login()" class="btn btn-raised btn-block c_o_cyan300 pull-right">Login</div>
                </div>
            </div>
        </div>


        <div class="col-sm-4">

        </div>
    </div>
</div>
