<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        blockchainIDsystem
                    </h4>

                    <div ng-click="newID()" class="btn btn-raised c_o_cyan300">Create new ID</div>
                </div>
                <hr>
                <div class="card-body">
                    <h4 class="card-title">
                        Current IDs
                    </h4>
                    <p ng-repeat="id in ids">
                        {{id}} <div ng-click="" class="btn btn-raised c_o_indigo300">Verify</div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>

    </div>
</div>
